In [1]:
#Import Dependencies
import numpy as np
import pandas as pd
import os
import seaborn as sns
from scipy.cluster.vq import kmeans, vq
from pylab import plot, show
from matplotlib.lines import Line2D
import matplotlib.colors as mcolors
from sqlalchemy import create_engine

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Create the reference to the Books CSV
books_df = "Resources/books.csv"

In [4]:
#Read and display the CSV with Pandas DataFrame
books_df_pd = pd.read_csv(books_df, error_bad_lines = False)
books_df_pd.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [5]:
#Print the number of rows and columns
print("Dataset contains {} rows and {} columns".format(books_df_pd.shape[0], books_df_pd.shape[1]))

Dataset contains 10000 rows and 23 columns

In [6]:
#Display the Data
books_df_pd.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [7]:
#Get a reference to the columns
books_df_pd.dtypes

id                             int64
book_id                        int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object

In [8]:
#Rename the Columns
new_books_df = (books_df_pd.rename(columns={'book_id': "Book_ID", 
                                            "isbn": "ISBN", 
                                            "isbn13": "ISBN_13", 
                                            "authors": "Authors", 
                                            "original_publication_year": "Publication_Year", 
                                            "title":"Title", 
                                            "language_code": "Language_Code", 
                                            "ratings_count":"Ratings_Count", 
                                            "work_text_reviews_count":"Text_Reviews_Count"}))

In [9]:
#Print the Columns renamed
new_books_df.head()

,id,Book_ID,best_book_id,work_id,books_count,ISBN,ISBN_13,Authors,Publication_Year,original_title,...,Ratings_Count,work_ratings_count,Text_Reviews_Count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [10]:
#Drop the columns not needed and print
new_books_df = new_books_df.drop(['id', 'best_book_id', 'work_id', 'books_count', 'original_title', 'average_rating', 'work_ratings_count', 'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url', 'small_image_url'], axis = 1) 
new_books_df.head()

,Book_ID,ISBN,ISBN_13,Authors,Publication_Year,Title,Language_Code,Ratings_Count,Text_Reviews_Count
0,2767052,439023483,9.780439e+12,Suzanne Collins,2008.0,"The Hunger Games (The Hunger Games, #1)",eng,4780653,155254
1,3,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Sorcerer's Stone (Harry P...,eng,4602479,75867
2,41865,316015849,9.780316e+12,Stephenie Meyer,2005.0,"Twilight (Twilight, #1)",en-US,3866839,95009
3,2657,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,eng,3198671,72586
4,4671,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,eng,2683664,51992

In [11]:
#Sort 'Title' and 'Author' columns to be the first two  
new_books_df = new_books_df[['Title', 'Authors', 'Book_ID', 'ISBN', 'ISBN_13', 'Publication_Year', 'Language_Code', 'Ratings_Count', 'Text_Reviews_Count']]
new_books_df.head()

,Title,Authors,Book_ID,ISBN,ISBN_13,Publication_Year,Language_Code,Ratings_Count,Text_Reviews_Count
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,2767052,439023483,9.780439e+12,2008.0,eng,4780653,155254
1,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",3,439554934,9.780440e+12,1997.0,eng,4602479,75867
2,"Twilight (Twilight, #1)",Stephenie Meyer,41865,316015849,9.780316e+12,2005.0,en-US,3866839,95009
3,To Kill a Mockingbird,Harper Lee,2657,61120081,9.780061e+12,1960.0,eng,3198671,72586
4,The Great Gatsby,F. Scott Fitzgerald,4671,743273567,9.780743e+12,1925.0,eng,2683664,51992

In [12]:
#Sort Title Column in Ascending order
new_books_df.sort_values('Title', inplace=True)
new_books_df.head()

,Title,Authors,Book_ID,ISBN,ISBN_13,Publication_Year,Language_Code,Ratings_Count,Text_Reviews_Count
3997,"Angels (Walsh Family, #3)",Marian Keyes,82747,60512148,9.780061e+12,2002.0,en-US,25680,680
9609,"""حكايات فرغلي المستكاوي ""حكايتى مع كفر السحلاوية",حسن الجندي,17339590,NaN,9.789775e+12,2013.0,ara,7443,1220
2854,#GIRLBOSS,Sophia Amoruso,18667945,039916927X,9.780399e+12,2014.0,eng,40090,2980
348,'Salem's Lot,Stephen King,11590,450031063,9.780450e+12,1975.0,en-GB,228680,6167
1291,'Salem's Lot,"Stephen King, Jerry N. Uelsmann",5413,385516487,9.780386e+12,2005.0,eng,72797,482

In [13]:
#Fill in Null Values
new_books_df.fillna("Unknown")
new_books_df.head()

,Title,Authors,Book_ID,ISBN,ISBN_13,Publication_Year,Language_Code,Ratings_Count,Text_Reviews_Count
3997,"Angels (Walsh Family, #3)",Marian Keyes,82747,60512148,9.780061e+12,2002.0,en-US,25680,680
9609,"""حكايات فرغلي المستكاوي ""حكايتى مع كفر السحلاوية",حسن الجندي,17339590,NaN,9.789775e+12,2013.0,ara,7443,1220
2854,#GIRLBOSS,Sophia Amoruso,18667945,039916927X,9.780399e+12,2014.0,eng,40090,2980
348,'Salem's Lot,Stephen King,11590,450031063,9.780450e+12,1975.0,en-GB,228680,6167
1291,'Salem's Lot,"Stephen King, Jerry N. Uelsmann",5413,385516487,9.780386e+12,2005.0,eng,72797,482